.game-tutorials{
    width:100%;
    height:100vh;
    display:none;
    flex-direction: column;
    gap:10vh;
    align-items: center;
    padding:2vh;
    overflow-y: scroll;
}

.game-tutorials-show{
    display:flex !important;
}

.game-tutorials::-webkit-scrollbar{
    width:10px;
    background: #10288C;
}

.game-tutorials::-webkit-scrollbar-thumb{
    background:#EAF6AD;
}

.game-tutorials-firstglance{
    display:block;
}

.game-tutorials-firstglance-hide{
    display: none !important;
}

.game-tutorials h1{
    font-size: 5vh;
    color:#10288C;
}

.game-tutorials-choice{
    display:flex;
    gap:5vw;
    width:100%;
    padding:2vh;
}

.game-tutorials-sheets{
    height:50vh;
    width:40vw;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
}

.game-tutorials-video{
    height:50vh;
    width:40vw;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
}

.game-tutorials-video-youtube{
    padding:2vh;
    width:100%;
    height:100vh;
    display:none;
    align-items: center;
    flex-direction: column;
    gap:5vh;
    position: relative;
}

.game-tutorials-video-youtube-show{
    display:flex !important;
}

.game-tutorials-video-youtube-heading{
    width:90%;
    height:auto;
    padding:2vh;
    display:flex;
    flex-direction: column;
    gap:2vh;
    align-items:left;
    justify-content: center;
    background: white;
    border-radius: 10px;

}

.game-tutorials-video-youtube-heading p{
    max-width:70%;
}

.game-tutorials-video-youtube-heading a{
    background:#10288C;
    text-decoration: none;
    font-weight:600;
    font-size: 2vh;
    color:white;
    padding:2vh;
    width:10vw;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game-tutorials-video-youtube-grid{
    display:flex;
    flex-direction: column;
    gap:10vh;
}

.game-tutorials-documentation{
    width:100%;
    height:100vh;
    display: none;
    align-items: center;
    flex-direction: column;
    gap:5vh;
    position: relative;
}

.game-tutorials-documentation-show{
    display:flex !important;
}

.game-tutorials-documentation-heading{
    width:90%;
    height:auto;
    padding:2vh;
    display:flex;
    flex-direction: column;
    gap:2vh;
    align-items:left;
    justify-content: center;
    background: white;
    border-radius: 10px;

}

.game-tutorials-documentation-heading p{
    max-width:70%;
}

.game-tutorials-documentation-heading a{
    background:#10288C;
    text-decoration: none;
    font-weight:600;
    font-size: 2vh;
    color:white;
    padding:2vh;
    width:10vw;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game-tutorials-documentation-grid{
    display:flex;
    flex-direction: column;
    gap:10vh;
    width:90%;
    height:auto;
}

.game-tutorials-documentation-card{
    height:auto;
    width:100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:5vh;
    padding:2vh;
    background: white;
}

.game-mainlogo{
    font-size:1.5vh;
    color:#EAF6AD;
    letter-spacing: 1vw;
    white-space: nowrap;
}

.game-mainlogo-hide{
    display:none !important;
}

.game-mainlogo h1{
    font-family: "Angkor";
}


.game-tutorials-exit{
    width:2vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding:1vh;
    background: #10288C;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:2%;
    left:2%;

}