.section-game{
    height:100vh;
    width:100%;
    display:none;
}

.section-game-show{
    display:flex !important;
}

.game-navigation{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10vh;
    padding:3vh;
    background-color:#10288C;
    color:#EAF6AD;
    height:100%;
    width:0%;
    position: relative;
    transition:width 1s linear;
}

.span-game{
    display:none;
    animation:show 2s linear;
}

@keyframes show {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}


.game-navigation-d h3{
    display:flex;
    align-items: center;
    gap:2vw;
}

.game-navigation-d i{
    text-align:left;
}

.game-navigation-showhide{
    background:#10288C;
    width:5vw;
    padding:3vh;
    display:flex;
    justify-content: right;
    align-items: center;
    border-radius:0px 20px 20px 0;
    position: absolute;
    top:0%;
    right:-30%;
}


