.section-landingpage{
    height:90vh;
    width:100%;
    padding:1vh 2vh;
    position:relative;
}

.landingpage-mainactions{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5vh;
    align-items: center;
    border-radius: 20px;
    font-size:5vh;
}

.landingpage-mainactions h1{
    color:#10288C;
    font-family: "Angkor";
}

.landingpage-mainactions i{
    color:#10288C;
}

.landingpage-mainactions p{
    text-align: center;
    font-size:3vh;
    max-width: 50%;
}

.landingpage-actions{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5vw;
}

.landingpage-actions button{
    padding:2vh 4vw;
    border-radius: 10px;
    border:none;
    font-size:2.5vh;
    font-weight:600;
    border:2px solid #10288C;
}

.actions-createaccount{
    background:#EAF6AD;
    color:#10288C;
}

.actions-learnmore{
    background: #10288C;
    color:#EAF6AD;
}

.section-aboutapp{
    background: white;
    height:auto;
    width:100%;
    padding:5vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vh;
}

.section-aboutapp h1{
    font-size:5vh;
}

.aboutapp-container{
    padding:3vh;
    display:flex;
    flex-direction: column;
    gap:3vh;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    border-radius: 10px;
    background: #EAF6AD;
}

.aboutapp-grid{
    display:flex;
    gap:5vw;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.aboutapp-secondgrid{
    flex-direction: row-reverse;
}

.aboutapp-text{
    max-width: 50%;
}

.aboutapp-text p{
    line-height: 5vh;
    font-size:3vh
}

.aboutapp-pic{
    width:50%;
    height:50vh;
    border-radius: 10px;
    box-shadow:1px 1px 10px grey;
}

.aboutapp-pic img{
    border-radius: 10px;
    width:100%;
    height:100%;
    object-fit: cover;
}