.section-ourvalues{
    height:5vh;
    width:100%;
    padding:0.5vh;
    display:flex;
    align-items: center;
    justify-content:space-around;
    font-weight:500;
    color:#EAF6AD;
    background-color:#10288C;
}

