
.section-typing{
    height:100%;
    width:100%;
    display:flex;
}


.section-typing-container{
    height:100vh;
    width:100%;
    padding:2vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:5vh;
    background:var(--pjBeige);
}

.section-typing p{
    max-width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
}

.typing-modal{
    width:100%;
    height:100%;
    background: black;
    position:absolute;
    top:0;
    left:0;
    opacity: 0.75;
    display:none;
}

.typing-modal-show{
    display:flex !important;
    justify-content: center;
    align-items: center;
}

.typing-levels{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
}

.typing-levels h1{
    font-size:7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--pjBlue);
}

.typing-levels-select{
    display: flex;
    gap:2vw;
}

.typing-levels-select select{
    appearance: none;
    width:10vw;
    padding:1vh;
    border: none;
    outline: none;
    background: var(--white);
    border-radius:10px;
    font-size:2vh;
    font-weight:500;
}

.typing-levels-select label{
    color:#10288C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.typing-input{
    display:none;
    flex-direction: column;
    gap:3vh;
    justify-content: center;
    align-items: center;
    width:100%;

}

.typing-input-show{
    display:flex !important;
}

.typing-input input{
    opacity: 1;
}

.typing-input-container{
    width:100%;
    height:50vh;
    max-height:50vh;
    overflow-y: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:2vh;
}

.typing-actions button{
    padding:2vh;
    width:15vw;
    font-weight:500;
    font-size:3vh;
    border-radius: 10px;
}

.typing-actions .typing-actions-button1 i{
    color:var(--pjBlue);
}

.typing-actions-button2 i{
    color:var(--white);
}

.typing-actions-button1{
    background: var(--pjBeige);
    color:var(--pjBlue);
    border:2px solid var(--pjBlue);
}

.typing-actions-button2{
    background: var(--pjBlue);
    color:var(--pjBeige);
    border: none;
    padding:2vh;
    width:15vw;
    font-weight:500;
    font-size:3vh;
    border-radius: 10px;
}


.typing-startgame button{
    padding:2vh;
    width:15vw;
    font-weight:500;
    font-size:3vh;
    border-radius: 10px;
    background: var(--pjBlue);
    color:var(--pjBeige);
    border: none;
}

.typing-startgame{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;

}

.typing-startgame-hide{
    display:none !important;
}

.typing-stats{
    width:100%;
    height:100vh;
    border-radius: 10px;
    padding:1vh;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
}

.typing-stats-advice{
    font-size: 8vh;
}

.typing-stats-show{
    display:flex !important;
}



.typing-stats-result{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    height:30%;
}

.typing-stats-result .dashboard-text-child{
    min-width:50%;
    min-height:20vh;
    max-height: 30vh;
    padding:2vh;
    display:flex;
    gap:2vh;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
}

.dashboard-text-quote{
    background: #10288C !important;
    color:white;
}

.dashboard-text-goal{
    background: #EAF6AD !important;
    color:#10288C;
    border:2px solid white;;
}

.dashboard-text-goal{
    display:flex;
}

.typing-stats-result div h1{
    white-space: nowrap;
    
}

.typing-stats-result button{
    padding:1vh 2vw;
    border-radius: 10px;
    background:#10288C;
    color:white;
    font-weight:600;
    border:none;
    white-space:nowrap;
}

.typing-stats-actions{
    display:flex;
    gap:5vw;
    align-items: center;
    justify-content: center;
}

.typing-stats-actions button{
    padding:1vh 2vw;
    border-radius: 10px;
    border:none;
    font-size:2.5vh;
    font-weight:600;
    border:2px solid #10288C;
    background: var(--pjBlue);
    color:var(--white);
    transition:background 1s linear;
    white-space: nowrap;
}

.typing-stats-actions button:hover{
    background:var(--pjBeige);
    color: var(--pjBlue);
}